In [54]:
import pandas as pd
data = pd.read_csv('ratings.csv')
movies = data[ data.rating == 5.0 ]
movies['movieId'].value_counts().to_frame().index.tolist()[0]

318

In [81]:
import pandas as pd
data = pd.read_csv('power.csv')
filtered_countries = data[ (data['country']=='Latvia') | (data['country']=='Lithuania') | (data['country']=='Estonia')]
filtered_category = filtered_countries[(filtered_countries['category'] == 4) | (filtered_countries['category'] == 12) | (filtered_countries['category'] == 21)]
filtered_year = filtered_category[(filtered_category['year'] >= 2005) | (filtered_category['year'] <= 2010)]
OutT = filtered_year[filtered_year.quantity > 0]
OutT.quantity.sum()

970728.0

In [115]:
import pandas as pd
page_url = 'https://fortrader.org/quotes/commodity-markets'
df = pd.read_html(page_url)
df[0]

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Нефть Brent Курс нефти сегодня,67.96,-1.15,-1.66,NaN
1,Нефть WTI Цены на нефть WTI,65.19,-1.38,-2.07,NaN
2,Природный газ Цена на природный газ,3.85,0.02,0.63,NaN
3,Кофе,179.85,0.75,0.42,NaN
4,Кукуруза,560.00,0.60,0.11,NaN
5,Соя,357.30,-2.70,-0.75,NaN
6,Хлопок,94.83,-0.07,-0.07,NaN